---
# Base Style
BasedOnStyle: WebKit

# Line Length
ColumnLimit: 100

# Indentation
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
NamespaceIndentation: Inner
ConstructorInitializerIndentWidth: 8

# Alignment
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignConsecutiveDeclarations: Consecutive
AlignEscapedNewlines: DontAlign
AlignOperands: Align

# Breaking
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

# Short Constructs
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

# Spacing
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyBlock: false
SpacesInContainerLiterals: false

# Packing and Binning
BinPackArguments: false

# Includes and Namespaces
SortIncludes: Never
FixNamespaceComments: true

# Empty Lines
EmptyLineBeforeAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: false

# Modern C++ Features
Cpp11BracedListStyle: true
InsertBraces: true
...
